[submodule "src/secom"]
	path = src/secom
	url = https://github.com/LeonardMendicantBias/semcom.git
[submodule "src/semcom"]
	path = src/semcom
	url = https://github.com/LeonardMendicantBias/semcom.git
